.title {
    text-align: center;
    font-size: 300%;
    text-transform: uppercase;
    text-shadow: 3px 2px gray;
    font-style: oblique;
    color: maroon;
}

h2 {
    font-size: 200%;
    text-align: center;
}

a {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

label {
    text-indent: 20px;
}

li {
	margin: 20px;
	padding: 20px 10px 25px 35px;
	list-style: none;
	background-image: url('harvard.jpg');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 20px;
}


table {
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 2px solid black;
}

th, td {
    padding: 10px;
}

th {
    font-size: 150%;
}

td {
    font-size: 125%;
}

img {
    width: 80px;
    height: 100px;
}

#all-galleries {
    font-size: 125%;
    line-height: 150%

}

#all-objects {
    display: none;
}

.button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 100%;
}